body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    width: 95%;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #153448;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #DFD0B8;
}
.page {
    display: flex;
}

.sidebar {
    float: left;
    width: 20%;
    padding: 20px;
    background-color: #989188;
    color:black;
}

.sidebar img {
    width: 50%;
    border-radius: 90%;
    margin-left:auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.content {
    flex: 1;
    float: right;
    width: 70%;
    padding: 20px;
    background-color: #DFD0B8;
}

footer {
    clear: both;
    background-color: #3C5B6F;
    color:white;
    text-align: center;
    padding: 20px 0;
}

.social-media img {
    width: 30px;
    margin: 0 5px;
}
